/*START Accordion*/

.accordion{

}

.accordionTitle{
  border-bottom: 1px solid #c2c2c2;
  background-color: #f1f1f1;
  padding: 1em;
  font-weight: bold;
}

.accordionTitle:before{
  content: "+";
  margin-right: 1em;
  transition: .8s;
  transform: rotate(135deg);
}

.accordionTitle:hover{
  cursor: pointer;
}

.accordionTitleSelected:before{
  display: inline-block;
  transition: .8s;
  transform: rotate(-135deg);
}

.accordionContent{
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: .5s;
  transition-timing-function: linear;
  padding: 0 1em;
  animation-name: accordionClose;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: accordionClose;
  -webkit-animation-duration: .65s;
  -webkit-animation-timing-function: ease-in-out;
}

.sectionSelected{
  height: auto;
  max-height: 50em;
  transition-property: max-height;
  transition-duration: .8s;
  transition-timing-function: linear;
  animation-name: accordionOpen;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: accordionOpen;
  -webkit-animation-duration: .65s;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes accordionOpen{
  0%{
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100%{
    opacity:1;
    transform:scale(1);
  }
}

@-webkit-keyframes 'accordionOpen'{
  0%{
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionClose{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}

@-webkit-keyframes 'accordionClose'{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}

/*END Accordion*/



/*START AddFile*/

button.addFileButton{
  background-color: #fff;
  border: 3px solid #2196f3;
  color: #2196f3;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  width: 50px;
  height: 50px;
}

button.addFileButton:hover{
  cursor: pointer;
}

div.addFile{
  position: relative;
  border: 1px solid #e1e1e1;
}

input.fileInput{
  display: none;
}

div.divPreview{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 2px;
  position: relative;
  border: 1px solid #e1e1e1;
  text-align: center;
  overflow: hidden;
}

img.imagePreview{
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

img.preUpload{
  opacity: .4;
}

progress.fileProgress{
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

a.removeFile{
  right: 0;
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

a.removeFile:after{
  height: 4px;
  width: 14px;
  background-color: #666;
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 8px;
  transform: rotate(225deg);
}

a.removeFile:before{
  height: 4px;
  width: 14px;
  background-color: #666;
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 8px;
  transform: rotate(-225deg);
}

a.removeFile:hover:after, a.removeFile:hover:before{
  background-color: #bf443e;
}

div.divDeleteFile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  background-image: url('dBJs-ui/loader.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

div.dropzone{
  width: 100%;
  height:100%; 
  border: 3px dashed #666;
  box-sizing: border-box;
  position: absolute;
  display: none;
  background-color: #fff;
}

div.dropzoneDragOver{
  border: 3px dashed #2196f3;
  z-index: 2;
}

/*END AddFile*/



/*START AppendView*/

.hidden-view{
  display: none;
}

/*END AppendView*/



/*START Autocomplete*/

.autocompleteContainer{
  position: relative;
  display: block;
}

.autocompleteResult{
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 7;
}

.autocompleteResult ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.autocompleteResult ul li{
  padding: 5px;
}

.autocompleteResult ul li:hover{
  cursor: pointer;
}

.autocompleteResult ul li.itemFocus{
  background-color: #f1f1f1;
}

/*END Autocomplete*/



/*START DropDownMenu*/

.dropDownMenu{
  position: relative;
}

.dropDownMenu:hover{
  cursor: pointer;
}

.dropDown{
  text-align: left;
  color: #000;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  border: 0px solid transparent;
  transition: max-height .3s, border .3s .2s;
}

.dropDown:hover{
  cursor: default;
}

.dropDownStart{
  left: 0;
}

.dropDownEnd{
  right: 0;
}

.dropDownOpened{
  max-height: 500px;
  transition: max-height .9s;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  z-index: 5;
}

/*END DropDownMenu*/



/*START LayerConfigurator*/

.layerSelect{
  display: none;
}

.layerItem{
  border: 3px solid #fff;
}

.layerItem:hover{
  cursor: pointer;
}

.layerItem_selected{
  border: 3px solid #2196f3;
}

/*END LayerConfigurator*/



/*START fadeImage*/

.fadeImage{
  opacity: 0;
}

.fadeImageV{
  transition: 1s;
  opacity: 1;
}

/*END fadeImage*/



/*START Flexbox*/

/*start container*/

.flex{
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrap{
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.row{
  -webkit-flex-direction: row;
  flex-direction: row;
}

.row-reverse{
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.column{
  -webkit-flex-direction: column;
  flex-direction: column;
}

.column-reverse{
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.justify-start{
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-end{
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-center{
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-space-between{
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-space-around{
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.align-items-start{
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-items-end{
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.align-items-center{
  -webkit-align-items: center;
  align-items: center;
}

.align-items-baseline{
  -webkit-align-items: baseline;
  align-items: baseline;
}

.align-items-stretch{
  -webkit-align-items: stretch;
  align-items: stretch;
}

/*end container*/

/*start items*/

.item{
  box-sizing: border-box;
  -webkit-flex-basis: 0;
  flex-basis: 0;
}

.item-flex{
  box-sizing: border-box;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  display: -webkit-flex;
  display: flex;
}

.order-1{
  -webkit-box-ordinal-group: 1; 
  order: 1;
}

.order-2{
  -webkit-box-ordinal-group: 2; 
  order: 2;
}

.order-3{
  -webkit-box-ordinal-group: 3; 
  order: 3;
}

.order-4{
  -webkit-box-ordinal-group: 4; 
  order: 4;
}

.order-5{
  -webkit-box-ordinal-group: 5; 
  order: 5;
}

.order-6{
  -webkit-box-ordinal-group: 6; 
  order: 6;
}

.order-7{
  -webkit-box-ordinal-group: 7; 
  order: 7;
}

.order-8{
  -webkit-box-ordinal-group: 8; 
  order: 8;
}

.order-9{
  -webkit-box-ordinal-group: 9; 
  order: 9;
}

.order-10{
  -webkit-box-ordinal-group: 10; 
  order: 10;
}

.order-11{
  -webkit-box-ordinal-group: 11; 
  order: 11;
}

.order-12{
  -webkit-box-ordinal-group: 12; 
  order: 12;
}

.align-self-auto{
  -webkit-align-self: auto;
  align-self: auto;
}

.align-self-start{
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-self-end{
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.align-self-center{
  -webkit-align-self: center;
  align-self: center;
}

.align-self-baseline{
  -webkit-align-self: baseline;
  align-self: baseline;
}

.align-self-stretch{
  -webkit-align-self: stretch;
  align-self: stretch;
}

.grow-1{
  -webkit-flex-grow: 1; 
  flex-grow: 1; 
}

.grow-2{
  -webkit-flex-grow: 2; 
  flex-grow: 2;
}

.grow-3{
  -webkit-flex-grow: 3; 
  flex-grow: 3;
}

.grow-4{
  -webkit-flex-grow: 4;
  flex-grow: 4;
}

.grow-5{
  -webkit-flex-grow: 5;
  flex-grow: 5;
}

.grow-6{
  -webkit-flex-grow: 6;
  flex-grow: 6;
}

.grow-7{
  -webkit-flex-grow: 7;
  flex-grow: 7;
}

.grow-8{
  -webkit-flex-grow: 8;
  flex-grow: 8;
}

.grow-9{
  -webkit-flex-grow: 9;
  flex-grow: 9;
}

.grow-10{
  -webkit-flex-grow: 10;
  flex-grow: 10;
}

.grow-11{
  -webkit-flex-grow: 11;
  flex-grow: 11;
}

.grow-12{
  -webkit-flex-grow: 12;
  flex-grow: 12;
}

.basis-1{
  -webkit-flex-basis: 8.333333333333332%;
  flex-basis: 8.333333333333332%;
  max-width: 8.333333333333332%;
}

.basis-2{
  -webkit-flex-basis: 16.666666666666664%;
  flex-basis: 16.666666666666664%; 
  max-width: 16.666666666666664%; 
}

.basis-3{
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.basis-4{
  -webkit-flex-basis: 33.33333333333333%;
  flex-basis: 33.33333333333333%;
  max-width: 33.33333333333333%;
}

.basis-5{
  -webkit-flex-basis: 41.66666666666667%;
  flex-basis: 41.66666666666667%;
  max-width: 41.66666666666667%;
}

.basis-6{
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.basis-7{
  -webkit-flex-basis: 58.333333333333336%;
  flex-basis: 58.333333333333336%;
  max-width: 58.333333333333336%;
}

.basis-8{
  -webkit-flex-basis: 66.66666666666666%;
  flex-basis: 66.66666666666666%;
  max-width: 66.66666666666666%;
}

.basis-9{
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.basis-10{
  -webkit-flex-basis: 83.33333333333334%;
  flex-basis: 83.33333333333334%;
  max-width: 83.33333333333334%;
}

.basis-11{
  -webkit-flex-basis: 91.66666666666666%;
  flex-basis: 91.66666666666666%;
  max-width: 91.66666666666666%;
}

.basis-12{
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.visible{
  display: block !important;
}

.hidden{
  display: none !important;
}

.offset-0{
  margin-left: 0;
}

.offset-1{
  margin-left: 8.333333333333332%;
}

.offset-2{
  margin-left: 16.666666666666664%;
}

.offset-3{
  margin-left: 25%;
}

.offset-4{
  margin-left: 33.33333333333333%;
}

.offset-5{
  margin-left: 41.66666666666667%;
}

.offset-6{
  margin-left: 50%;
}

.offset-7{
  margin-left: 58.333333333333336%;
}

.offset-8{
  margin-left: 66.66666666666666%;
}

.offset-9{
  margin-left: 75%;
}

.offset-10{
  margin-left: 83.33333333333334%;
}

.offset-11{
  margin-left: 91.66666666666666%;
}

/*end items*/

/*start aside*/

div#aside-left, div#aside-right{
  width: 250px;
}

div#toggle-left{
  position: fixed; 
  right: -100px; 
  top: 15px;  
  display: block;
  padding: 20px 35px 20px 10px;
  transition: 0.5s;
  background-color: #f1f1f1;
}

div#toggle-left span, div#toggle-left span:before, div#toggle-left span:after, 
div#toggle-right span, div#toggle-right span:before, div#toggle-right span:after{
  height: 3px;
  background-color: #000;
  content: "";
  display: block;
  position: absolute;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

div#toggle-left span, div#toggle-right span{
  width: 25px;
}

div#toggle-left span:before{
  width: 15px;
  top: -4.6px;
  right: -1.8px;
  transform: rotate(45deg);
}

div#toggle-left span:after{
  width: 15px;
  top: 4.6px;
  right: -1.8px;
  transform: rotate(-45deg);
}
  
div#toggle-right{
  position: fixed; 
  left: -100px; 
  top: 15px; 
  display: block;
  padding: 20px 35px 20px 10px;
  transition: 0.5s;
  background-color: #f1f1f1;
}

div#toggle-right span:before{
  width: 15px;
  top: -4.6px;
  left: -1.8px;
  transform: rotate(-45deg);
}

div#toggle-right span:after{
  width: 15px;
  top: 4.6px;
  left: -1.8px;
  transform: rotate(45deg);
}

#toggle-left.icon_rotate span, #toggle-right.icon_rotate span{
  background: transparent;
}

#toggle-left.icon_rotate span:before, #toggle-right.icon_rotate span:before{
  top: 0;
  right: 0;
  width: 25px;
  transform: rotate(0deg);
}

#toggle-left.icon_rotate span:after, #toggle-right.icon_rotate span:after{
  top: 0;
  right: 0;
  width: 25px;
  transform: rotate(0deg);
}

/*end aside*/

@media only screen and (max-width: 1280px){ 
  
  /*start container*/
  
  .justify-start-1280{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .justify-end-1280{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .justify-center-1280{
    -webkit-justify-content: center;
    justify-content: center;
  }

  .justify-space-between-1280{
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .justify-space-around-1280{
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  /*end container*/
  
  /*start items*/
 
  .basis-1-1280{
    -webkit-flex-basis: 8.333333333333332%;
    flex-basis: 8.333333333333332%;
    max-width: 8.333333333333332%;
  }

  .basis-2-1280{
    -webkit-flex-basis: 16.666666666666664%;
    flex-basis: 16.666666666666664%; 
    max-width: 16.666666666666664%; 
  }

  .basis-3-1280{
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .basis-4-1280{
    -webkit-flex-basis: 33.33333333333333%;
    flex-basis: 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .basis-5-1280{
    -webkit-flex-basis: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .basis-6-1280{
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .basis-7-1280{
    -webkit-flex-basis: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  .basis-8-1280{
    -webkit-flex-basis: 66.66666666666666%;
    flex-basis: 66.66666666666666%;
    max-width: 66.66666666666666%;
  }

  .basis-9-1280{
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .basis-10-1280{
    -webkit-flex-basis: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  .basis-11-1280{
    -webkit-flex-basis: 91.66666666666666%;
    flex-basis: 91.66666666666666%;
    max-width: 91.66666666666666%;
  }

  .basis-12-1280{
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .visible-1280{
    display: block !important;
  }

  .hidden-1280{
    display: none !important;
  }
  
  .offset-0-1280{
    margin-left: 0;
  }

  .offset-1-1280{
    margin-left: 8.333333333333332%;
  }

  .offset-2-1280{
    margin-left: 16.666666666666664%;
  }

  .offset-3-1280{
    margin-left: 25%;
  }

  .offset-4-1280{
    margin-left: 33.33333333333333%;
  }

  .offset-5-1280{
    margin-left: 41.66666666666667%;
  }

  .offset-6-1280{
    margin-left: 50%;
  }

  .offset-7-1280{
    margin-left: 58.333333333333336%;
  }

  .offset-8-1280{
    margin-left: 66.66666666666666%;
  }

  .offset-9-1280{
    margin-left: 75%;
  }

  .offset-10-1280{
    margin-left: 83.33333333333334%;
  }

  .offset-11-1280{
    margin-left: 91.66666666666666%;
  }
  
  /*end items*/
  
}

@media only screen and (max-width: 1024px){ 
  
  /*start container*/
  
  .justify-start-1024{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .justify-end-1024{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .justify-center-1024{
    -webkit-justify-content: center;
    justify-content: center;
  }

  .justify-space-between-1024{
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .justify-space-around-1024{
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  /*end container*/

  /*start items*/
  
  .basis-1-1024{
    -webkit-flex-basis: 8.333333333333332%;
    flex-basis: 8.333333333333332%;
    max-width: 8.333333333333332%;
  }

  .basis-2-1024{
    -webkit-flex-basis: 16.666666666666664%;
    flex-basis: 16.666666666666664%;
    max-width: 16.666666666666664%;
  }

  .basis-3-1024{
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .basis-4-1024{
    -webkit-flex-basis: 33.33333333333333%;
    flex-basis: 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .basis-5-1024{
    -webkit-flex-basis: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .basis-6-1024{
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .basis-7-1024{
    -webkit-flex-basis: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  .basis-8-1024{
    -webkit-flex-basis: 66.66666666666666%;
    flex-basis: 66.66666666666666%;
    max-width: 66.66666666666666%;
  }

  .basis-9-1024{
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .basis-10-1024{
    -webkit-flex-basis: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  .basis-11-1024{
    -webkit-flex-basis: 91.66666666666666%;
    flex-basis: 91.66666666666666%;
    max-width: 91.66666666666666%;
  }

  .basis-12-1024{
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .visible-1024{
    display: block !important;
  }

  .hidden-1024{
    display: none !important;
  }
  
  .offset-0-1024{
    margin-left: 0;
  }

  .offset-1-1024{
    margin-left: 8.333333333333332%;
  }

  .offset-2-1024{
    margin-left: 16.666666666666664%;
  }

  .offset-3-1024{
    margin-left: 25%;
  }

  .offset-4-1024{
    margin-left: 33.33333333333333%;
  }

  .offset-5-1024{
    margin-left: 41.66666666666667%;
  }

  .offset-6-1024{
    margin-left: 50%;
  }

  .offset-7-1024{
    margin-left: 58.333333333333336%;
  }

  .offset-8-1024{
    margin-left: 66.66666666666666%;
  }

  .offset-9-1024{
    margin-left: 75%;
  }

  .offset-10-1024{
    margin-left: 83.33333333333334%;
  }

  .offset-11-1024{
    margin-left: 91.66666666666666%;
  }
  
  /*end items*/
  
}

@media only screen and (max-width: 1023px){ 

  div#aside-left{
    display: block;
    float: none;
    margin-right: 0;
    width: 75%;
    top: 0;
    bottom: 0;
    left: -100%;
    background: #fff;
    position: fixed;
    overflow: auto;
    transition: 0.5s;
    z-index: 6;
  }

  .toggle-l-visible{
    left: 0 !important;
  }
  
  div#aside-left + div#toggle-left{
    top: 60px;
    right: 0;
    z-index: 3;
  }
  
  div#aside-right{
    display: block;
    float: none;
    margin-right: 0;
    width: 75%;
    top: 0;
    bottom: 0;
    right: -100%;
    background: #fff;
    position: fixed;
    overflow: auto;
    transition: 0.5s;
    z-index: 6;
  }
  
  .toggle-r-visible{
    right: 0 !important;
  }
  
  div#aside-right + div#toggle-right{
    top: 60px;
    left: 0;
    z-index: 3;
  }
  
  div#toggle-left:hover, div#toggle-right:hover{
    cursor: pointer;
  }

}

@media only screen and (max-width: 768px){ 
  
  /*start container*/
  
  .justify-start-768{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .justify-end-768{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .justify-center-768{
    -webkit-justify-content: center;
    justify-content: center;
  }

  .justify-space-between-768{
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .justify-space-around-768{
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  /*end container*/
  
  /*start items*/
  
  .basis-1-768{
    -webkit-flex-basis: 8.333333333333332%;
    flex-basis: 8.333333333333332%;
    max-width: 8.333333333333332%;
  }

  .basis-2-768{
    -webkit-flex-basis: 16.666666666666664%;
    flex-basis: 16.666666666666664%; 
    max-width: 16.666666666666664%; 
  }

  .basis-3-768{
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .basis-4-768{
    -webkit-flex-basis: 33.33333333333333%;
    flex-basis: 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .basis-5-768{
    -webkit-flex-basis: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .basis-6-768{
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .basis-7-768{
    -webkit-flex-basis: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  .basis-8-768{
    -webkit-flex-basis: 66.66666666666666%;
    flex-basis: 66.66666666666666%;
    max-width: 66.66666666666666%;
  }

  .basis-9-768{
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .basis-10-768{
    -webkit-flex-basis: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  .basis-11-768{
    -webkit-flex-basis: 91.66666666666666%;
    flex-basis: 91.66666666666666%;
    max-width: 91.66666666666666%;
  }

  .basis-12-768{
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .visible-768{
    display: block !important;
  }

  .hidden-768{
    display: none !important;
  }
  
  .offset-0-768{
    margin-left: 0;
  }

  .offset-1-768{
    margin-left: 8.333333333333332%;
  }

  .offset-2-768{
    margin-left: 16.666666666666664%;
  }

  .offset-3-768{
    margin-left: 25%;
  }

  .offset-4-768{
    margin-left: 33.33333333333333%;
  }

  .offset-5-768{
    margin-left: 41.66666666666667%;
  }

  .offset-6-768{
    margin-left: 50%;
  }

  .offset-7-768{
    margin-left: 58.333333333333336%;
  }

  .offset-8-768{
    margin-left: 66.66666666666666%;
  }

  .offset-9-768{
    margin-left: 75%;
  }

  .offset-10-768{
    margin-left: 83.33333333333334%;
  }

  .offset-11-768{
    margin-left: 91.66666666666666%;
  }
  
  /*end items*/

}

@media only screen and (max-width: 480px){ 

  /*start container*/
  
  .justify-start-480{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .justify-end-480{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .justify-center-480{
    -webkit-justify-content: center;
    justify-content: center;
  }

  .justify-space-between-480{
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .justify-space-around-480{
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  /*end container*/
  
  /*start items*/
  
  .basis-1-480{
    -webkit-flex-basis: 8.333333333333332%;
    flex-basis: 8.333333333333332%;
    max-width: 8.333333333333332%;
  }

  .basis-2-480{
    -webkit-flex-basis: 16.666666666666664%;
    flex-basis: 16.666666666666664%; 
    max-width: 16.666666666666664%; 
  }

  .basis-3-480{
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .basis-4-480{
    -webkit-flex-basis: 33.33333333333333%;
    flex-basis: 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .basis-5-480{
    -webkit-flex-basis: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .basis-6-480{
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .basis-7-480{
    -webkit-flex-basis: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  .basis-8-480{
    -webkit-flex-basis: 66.66666666666666%;
    flex-basis: 66.66666666666666%;
    max-width: 66.66666666666666%;
  }

  .basis-9-480{
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .basis-10-480{
    -webkit-flex-basis: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  .basis-11-480{
    -webkit-flex-basis: 91.66666666666666%;
    flex-basis: 91.66666666666666%;
    max-width: 91.66666666666666%;
  }

  .basis-12-480{
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .visible-480{
    display: block !important;
  }

  .hidden-480{
    display: none !important;
  }
  
  .offset-0-480{
    margin-left: 0;
  }

  .offset-1-480{
    margin-left: 8.333333333333332%;
  }

  .offset-2-480{
    margin-left: 16.666666666666664%;
  }

  .offset-3-480{
    margin-left: 25%;
  }

  .offset-4-480{
    margin-left: 33.33333333333333%;
  }

  .offset-5-480{
    margin-left: 41.66666666666667%;
  }

  .offset-6-480{
    margin-left: 50%;
  }

  .offset-7-480{
    margin-left: 58.333333333333336%;
  }

  .offset-8-480{
    margin-left: 66.66666666666666%;
  }

  .offset-9-480{
    margin-left: 75%;
  }

  .offset-10-480{
    margin-left: 83.33333333333334%;
  }

  .offset-11-480{
    margin-left: 91.66666666666666%;
  }
  
  /*end items*/
  
}

/*END Flexbox*/



/*START MainMenu*/

.mmFixed{
  position: fixed;
  top: 0;
}

#mainMenu{
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  display: flex;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  z-index: 4;
}

#mainMenuLogo{
  box-sizing: border-box
}

#mainMenuNav{
  
}

#mainMenuNav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#mainMenuNav ul li.menuItem{
  display: inline-block;
}

.menuItem{
  position: relative;
}

.menuItem a{
  display: block;
}

.subMenu{
  display: none;
}

.menuItem:hover .subMenu{
  display: block;
  position: absolute;
  z-index: 6;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  white-space: nowrap;
  left: 0;
}

.subMenu li{
  padding: 5px;
  display: block;
}

.subMenu li:hover{
  background-color: #f1f1f1;
}

#mobileMenu{
  position: fixed; 
  right: -100px; 
  top: 15px; 
  z-index: 7; 
  display: block;
  padding: 10px 35px 12px 0px;
  transition: .5s;
}

.body-block{
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 1023px){ 

  #mainMenu{
    display: block;
    position: fixed;
  }
  
  #mainMenuLogo{
    height: 60px;
    display: block;
    width: 100%;
  }
  
  #mainMenuLogo img{
    height: 100%;
  }
  
  #mainMenuNav{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
    background-color: #fff;
    text-align: center;
  }
  
  #mainMenuNav ul{
    z-index: 6;
  }
  
  #mainMenuNav ul li.menuItem{
    display: block;
  }
  
  #mainMenuNav ul li a{
    display: block;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }
  
  #mainMenuNav ul li a:hover{
    background-color: #f1f1f1;
  }
  
  .menuItem{
    padding: 0;
  }
  
  .menuItem:hover .subMenu{
    display: none;
  }
  
  .mainMenuV{
    max-height: 500px !important;
    overflow-y: auto !important;
  }
 
  #mobileMenu{
    right: 25px;
    top: 23px;
  }
  
  #mobileMenu:hover{
    cursor: pointer;
  }
  
  #mobileMenu span, #mobileMenu span:before, #mobileMenu span:after{
    height: 3px;
    width: 35px;
    background-color: #000;
    content: "";
    display: block;
    position: absolute;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  
  #mobileMenu span:before{
    top: -10px;
  }

  #mobileMenu span:after{
    bottom: -10px;
  }
  
  #mobileMenu.icon_rotate span{
    background: transparent !important;
  }

  #mobileMenu.icon_rotate span:before{
    top: 0;
    transform: rotate(225deg);
  }

  #mobileMenu.icon_rotate span:after{
    bottom: 0;
    transform: rotate(-225deg);
  }
  
}

/*END MainMenu*/



/*START Modal*/

.modal{
  display: none;
}

.modalOpen{
  overflow: hidden;
}

.modalBack{
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: scroll;
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

.modalDialog{
  background: none repeat scroll 0 0 #fff;
  border-radius: 2px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.modalContainer{
  position: relative;
}

.modalContent{
  padding: 10px;
}

a#closeModal{
  top: -8px;
  right: -8px;
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
}

a#closeModal:after{
  height: 5px;
  width: 16px;
  background-color: #666;
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 8px;
  transform: rotate(225deg);
}

a#closeModal:before{
  height: 5px;
  width: 16px;
  background-color: #666;
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 8px;
  transform: rotate(-225deg);
}

a#closeModal:hover:after, a#closeModal:hover:before{
  background-color: #bf443e;
}

@media only screen and (max-width: 1023px){ 

  .modalDialog{
    width: 85% !important;
  }

}
/*END Modal*/



/*START ReviewInput*/

span.inputRating span.star{
  color: #ddd;
  cursor: pointer;
  font-size: 2em;
}

span.inputRating span.star_active{
  color: #f1c40f;
}

/*END ReviewInput*/



/*START ScrollPageTop*/

.scrollTop{
  opacity: 0;
}

.scrollTopVisible{
  position: fixed;
  width: 40px;
  height: 40px;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  border: 3px solid #333;
  box-shadow: 1px 1px 5px #888;
  background-color: #666;
  background-position: center;
  background-image: url('dBJs-ui/scrollTop.png');
  opacity: 0.8;
  z-index: 3;
}

.scrollTopVisible:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1023px){ 

  .scrollTopVisible{
    right: 10px;
  }

}

/*END ScrollPageTop*/



/*START ScrollTo*/

#containerScrollTo{

}

#containerMenuScrollTo{

}

#menuScrollTo{

}

.scrollTo{

}

.fixed{
  position: fixed;
}

/*END ScrollTo*/



/*START SlideShow*/

.slideshowContainer{
  
}

.slideshow{
  width: 100%;
  margin: 0 auto;
  position: relative;
  transition: 1s;
  overflow: hidden;
  background-color: #000;
}

.slideshow img{
  width: 100%;
}

.slide{
  width: 100%;
  position: absolute;
  display: none;
  z-index: 0;
  transition: .5s;
}

.currentSlide{
  display: block !important;
  z-index: 1;
}

.ssFade{ 
  -webkit-animation: fade;
  -moz-animation: fade;
  animation: fade;
  -webkit-animation-duration: .7s;
  -moz-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes fade{
  0%{
    display: none;
  }
  1%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
} 

/* Mozzilla */ 
@-moz-keyframes fade{
  0%{
    display: none;
  }
  1%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Standard syntax */ 
@keyframes fade{
  0%{
    display: none;
  }
  1%{
    display: block;
    opacity: 0;
  }
  100%{
    display: block;
    opacity: 1;
  }
}

.containerDot{
  padding-bottom: 10px;
  z-index: 2;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dot{
  width: 12px;
  height: 12px;
  background-color: #2196f3; 
  opacity: .4;
  z-index: 2;
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px 0 2px;
}

.dot:hover{
  opacity: 1;
  cursor: pointer;
}

.dotSelected{
  opacity: 1;
}

.control{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  right: 0;
}

.control:hover{
  background-color: rgba(0, 0, 0, 0.6); 
  cursor: pointer;
}

.play{
  background-image: url("dBJs-ui/play.png");
}

.pause{
  background-image: url("dBJs-ui/pause.png");
}

.next{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3); 
  top: 50%;
  right: 10px;
  margin-top: -25px;
  z-index: 2;
  display: block;
  background-image: url('dBJs-ui/next.png');
  background-position: 12px center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.prev{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3); 
  top: 50%;
  left: 10px;
  margin-top: -25px;
  z-index: 2;
  display: block;
  background-image: url('dBJs-ui/prev.png');
  background-position: 6px center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.next:hover, .prev:hover{
  background-color: rgba(0, 0, 0, 0.6); 
  cursor: pointer;
}

.containerThumb{
  text-align: center;
}

.thumb{
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 0 5px 0 5px;
  border: 5px solid  #fff; 
  outline: 1px solid #2196f3;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.thumb:hover{
  cursor: pointer;
}

.thumb:hover{
  border: 5px solid #2196f3;
}

.thumbSelected{
  border: 5px solid #2196f3;
}

@media only screen and (max-width: 1023px){ 

  .slideshowContainer{
    width: 100%;
    margin: 0 auto;
    
  }

}

/*END SlideShow*/



/*START Tab*/

.tabButton{
  padding: 5px 15px 5px 15px;
  display: inline-block;
}

.tabButton:hover{
  cursor: pointer;
  border-bottom: 2px solid #03a9f4;;
}

.tabButtonActive{
  border-bottom: 2px solid #03a9f4;;
}

.tab{
  display: none;
}

.tabActive{
  margin-top: 10px;
  display: block;
}

/*END Tab*/



/*START TabMenu*/

.tabMenuButton{
  padding: 5px 15px 5px 15px;
  display: inline-block;
  background-color: #f1f1f1;
}

.tabMenuButton:hover{
  cursor: pointer;
  border-bottom: 2px solid #03a9f4;;
}

.tabMenuButtonActive{
  background-color: #d5d5d5;
  border-bottom: 2px solid #03a9f4;;
}

.tabItem{
  display: none;
}

.tabItemActive{
  margin-top: 10px;
  display: block;
}

/*END TabMenu*/



/*START TabRadio*/

.tabR{
  display: none;
}

.tabRActive{
  margin-top: 10px;
  display: block;
}

/*END TabMenu*/



/*START TabSelect*/

.tabS{
  display: none;
}

.tabSActive{
  margin-top: 10px;
  display: block;
}

/*END TabMenu*/



/*START ToastNotification*/

.toastNotification{
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: -40px;
  background-color: #323232;
  color: #fff;
  text-align: center;
  line-height: 40px;
  z-index: 8;
}

.toastOpened{
  animation-name: toast;

  animation-timing-function: linear;
  -webkit-animation-name: toast;

  -webkit-animation-timing-function: linear;
}

@keyframes toast{
  10%{
    bottom: 0;
  }

  90%{
    bottom: 0;
  }

  to {
    bottom: -40px; 
  }
}

@-webkit-keyframes 'toast'{
  10%{
    bottom: 0;
  }

  90%{
    bottom: 0;
  }

  to {
    bottom: -40px; 
  }
}

/*END ToastNotification*/



/*START Tooltip*/

.tooltip{
  position: relative;
}

.tooltipEl{
  box-sizing: border-box;
  padding: 10px;
	position: absolute;
	z-index: 6;
  background-color: #fff;
	box-shadow: 0 0 5px #aaa;
  opacity: 0;
  transition: .5s;
}

.tooltipElV{
  opacity: 1;
}

/*END Tooltip*/



/*START Wysiwyg*/

div.wysiwyg{
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 30px;
  position: relative; 
}

div.editor{
  width: 100%;
  height: 200px;
  border: 1px solid #c2c2c2;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
}

div.editor ul{
  list-style-type: disc;
  list-style: disc;
  margin: 1em 0 1em 0;
  padding-left: 40px;
}

textarea.text{
  width: 100%;
  height: 100%;
  resize: none;
}

div.contText{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

button.pw{
  border:1px solid #d2d2d2;
  background-color: #f9f9f9;
}

button.pw_sel{
  background-color: #d2d2d2;
}

button.pw_save{
  position: absolute;
  bottom: 0;
  right: 0;
  
}

/*END Wysiwyg*/



/*START reset-this*/
/*
.reset-this{
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font: normal;
  font-family: inherit;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  quotes: '\201C' '\201D' '\2018' '\2019';
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
}
*/
/*END reset-this*/